* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
   /* display: flex; */
    display:block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  /*  overflow-x: hidden; */
}

.tree-container {
    overflow-x: auto;
    padding: 20px;
    width: 100%;
    white-space: nowrap;
}

.tree {
    display: inline-block;
    white-space: nowrap;
}

.tree ul {
    padding-top: 20px;
    position: relative;
    transition: all 0.5s;
}

.tree li {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    list-style-type: none;
    position: relative;
    padding: 20px 5px 10px 5px;
    transition: all 0.5s;
}

.tree li::before, .tree li::after {
    content: '';
    position: absolute;
    top: 0;
    right: 50%;
    border-top: 5px solid #ccc;
    width: 50%;
    height: 20px;
}

.tree li::after {
    right: auto;
    left: 50%;
    border-left: 5px solid #ccc;
}

.tree li:only-child::after, .tree li:only-child::before {
    display: none;
}

.tree li:only-child {
    padding-top: 0;
}

.tree li:first-child::before, .tree li:last-child::after {
    border: 0 none;
}

.tree li:last-child::before {
    border-right: 5px solid #ccc;
    border-radius: 0 5px 0 0;
}

.tree li:first-child::after {
    border-radius: 5px 0 0 0;
}

.tree ul ul::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    border-left: 5px solid #ccc;
    width: 0;
    height: 20px;
}

.tree li span {
    font-weight:bold !important;
    border: 5px solid #ccc;
    padding: 5px 10px;
    text-decoration: none;
    color: #000000;
    background-color: white;
    font-family: arial, verdana, tahoma;
    font-size: 12px;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.5s;
}

.tree li span img {
    max-width: 100px;
    max-height: 150px;
    display: block;
    margin: 0 auto 5px auto;
}

.tree li span:hover, .tree li span:hover + ul li span {
    background: #c8e4f8;
    color: #000;
    border: 5px solid #94a0b4;
}

.tree li span:hover + ul li::after, 
.tree li span:hover + ul li::before, 
.tree li span:hover + ul::before, 
.tree li span:hover + ul ul::before {
    border-color: #94a0b4;
}

.tree li .box + .box {
    margin-left: 20px;
    min-height: 200px;
}

.bukaninti {
    font-weight:lighter !important;
    color:#555151 !important;
}

.mati {
    background-color:#f99696 !important;
}

